<div class="navbar-container">
    <div class="navbar-title">
        <div id="square"></div>
        <div class="name">Jaime Garcia</div>
        <div class="title">io</div>
    </div>
    <div class="navbar-routers">
        <a routerLink="/about" routerLinkActive="active" class="nav-link" (click)="moveIndicator($event)">About</a>
        <div class="separator-bar"></div>
        <a routerLink="/blog" routerLinkActive="active" class="nav-link" (click)="moveIndicator($event)">Blog</a>
        <div class="separator-bar"></div>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link" (click)="moveIndicator($event)">Contact</a>        
        <div class="separator-bar"></div>
        <a routerLink="/resume" routerLinkActive="active" class="nav-link" (click)="moveIndicator($event)">Resume</a>
        <div class="nav-indicator"></div>
    </div>
</div>