:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 200px);
    padding: 2rem;
}

.contact-title h1 {
    margin-bottom: 0.75rem;
}

.contact-subtitle h3 {
    color: var(--text-muted);
    margin-bottom: 3rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.85rem 1rem;
  border-radius: 999px;
    border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s ease;
  

}

.contact-form textarea {
  border-radius: 16px;
  resize: none;
  min-height: 120px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #111;
}

/* Profile Section - Fade in animation */
.contact-form, .main-heading{
    flex-shrink: 0;
    animation: fadeInLeft 0.8s ease-out;
}

/* Fade in from left keyframes */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
